div{
    font-size: 30px;
}
body{
    font-size: 50px;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 45px;
}
h3{
    font-size: 45px;
}
h4{
    font-size: 45px;
}
h5{
    font-size: 45px;
}
h6{
    font-size: 45px;
}
h7{
    font-size: 45px;
}
h8{
    text-align: center;
    padding-left: 90px;
    font-size: 40px;
}
p{
    font-size: 15px;
}


h9{
    
    font-size: 45px;
}
h10{
    
    font-size: 45px;
}

h11{
    
    font-size: 45px;
}

h12{
    
    font-size: 45px;
}
h13{
    
    font-size: 45px;
}
h14{
    
    font-size: 45px;
}
h15{
    
    font-size: 45px;
}

h16{
    
    font-size: 35px;
}

